*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    /* color: aliceblue; */
    box-sizing: border-box;
    
}
.nav-menu{
  
    display: flex;
    justify-content: space-around;
    height: 60px;
    position: absolute;
    z-index: 1;
    background-color:rgb(30, 29, 29);
    width: 100vw;
    position: fixed;
   
}
.nav-menu-event{
 background-color: rgb(240, 233, 233);
}
#nav-menu a{
    text-decoration: none;
}

#nav-menu h4{
    color: rgb(231, 238, 238);
}
#nav-ele{
    display: flex;
    justify-content: space-around;
    /* border: 3px solid red; */
    width: 50%;
    margin-right:15%;
    
}
.nav-ele{
    margin-top:15px;
    background-color: rgb(25, 22, 22);
    
}
.nav-ele:hover{
    transform: scale(1.2)
}
.nav-ele-title{
    margin-top: 10px;
    font-size: 30px;
    /* border: 1px solid rgb(167, 197, 16); */
}
#resume-button-1{
    background-color: #b50b0b;
    height: 30px;
    margin-top: 15px;border-radius: 5px;  
    border: 0px;
}
#resume-button-1 a{
    color: #F5F5F5;
    font-weight: bold;
}
#resume-button-1:hover{
    background-color: #e54040;
}

.title{
    /* border: 1px solid; */
    width: 20%;
    text-align: center;
    margin-left: 10%;
    color: aquamarine ;
}
#home{
    width: 100%;
    /* border: 1px solid rgb(47, 128, 0); */
}
#wallpaper{
    width: 100%;
    height:100vh;
    /* border: 1px solid goldenrod; */
}

#home-img{
    /* position: absolute; */
    top: -10px;
    /* border: 3px solid green; */
    width: 100%;
    height: 100vh;
}
#user-detail-name{
  font-size: 40px;  
  color:#FAFAFA
    
}
#user-detail-intro{
    font-size:30px;
    color:#FAFAFA;
    /* border: 1px solid; */
    width: 80%;

}
#user-details-for-smallscreen{
    display: none;
}
#intro{
    position: absolute;
    /* border: 1px solid green; */
    top: 30%;
    left: 17%;
    max-width: 80%;
    
}
#hello{
    font-size: 20px;
    margin-right: 10px;
    color: red
}
#iam{
    font-size: 20px;
    color:#F5F5F5
}
#nodejs{
    color: rgb(234, 6, 6);
}
#resume-button-2{
    background-color: red;
    border-radius: 5px;
    margin-top: 5px;
    font-weight: bold;
    padding: 5px;
    border: 0px;
}
#resume-button-2:hover{
    transform: scale(1.1);
}
#resume-link-2{
    color: rgb(206, 217, 227);
    text-align: center;
    width: 70px;
    height: 25px;
    font-size: 15px;
    text-decoration: none;
}
#about{
    background-color: #3a2b27;
    padding-top: 10px;
    /* border: 1px solid yellow; */
}
#about-sub{
    /* border: 1px solid ; */
    display: flex;
    background-color:#44281f;
    width: 70%;
    margin: auto;
    justify-content: space-around;
    min-height: 400px;
    
}
#profile-image{
    width: 20%;
    /* border: 1px solid green; */
    height: 400px;
    margin-left:5%;
    margin-top: 30px;
}
#profile-image img{
    margin-top: 20%;
    width: 100%
}
#about-words{
    /* border: 1px solid green; */
    width: 50%;
    color: white;
    margin-top: 30px;
    height: 300px;
}
#aboutme{
    font-size: 20px;
    font-weight: bold;
}
#aboutme span{
    color: red;
}
#iam-sourabh{
    margin-top: 15px;
    font-size: 35px;
    font-weight: bold;
}
#iam-sourabh span{
    color: red;
    font-size: 37px;
}
#user-detail-intro{
    font-size: 17px;
    font-weight: bold;
    margin-top: 10px;
    color: rgb(196, 199, 201);
}

.skill{
    border: 1px solid #3a2b27;
    width: 70%;
    margin: auto;
    background-color: #44281f;
}
.myskill{
    width: 50%;
    /* border: 1px solid gold; */
    margin: auto;
}
.myskill h1,p{
    text-align: center;
    color: white;
}
.myskill p{
    font-size: 20px;
    text-align: center;
    padding-bottom: 20px;
    
}
.myskill h1>span{
    color: red;  
}

.skill-div{
    /* height: 400px; */
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;   
    background-color: rgb(162, 143, 143);
    margin-bottom: 30px;
    padding: 20px;
    /* border: 1px solid gold; */
}
.skill-card {
   /* border: 1px solid red; */
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   /* margin: 5px; */
   border-radius: 10px;
   width:100%;
   height:140px ;
}
.skill-card img{
    width:40%;
   display: flex;
   margin: auto;
   /* border: 1px solid; */
   margin-top: 20px;
}
.skills-card-name{
    text-align: center;
    font-size: 20px;
    margin-top: 15px;
}
#skillmain{
    background-color: #3a2b27;
}

/* prject....................................... */
#project-div{
    width: 100%;
    border: 1px solid #3a2b27;
    height: 500px;
    background-color: #3a2b27;
    /* border: 1px solid red; */
    /* position: relative; */

}
#my-projects{
    color: white;
    /* border: 1px solid wheat; */
    text-align: center;
}
#projects{
      /* border: 1px solid red; */
      width: 70%;
      display: flex;
      margin: auto;
      margin-top: 30px;
      margin-bottom: 10px;
      justify-content: space-between;
      overflow-x: scroll;
      scroll-behavior: smooth;
      gap: 30px;
     
}
#projects::-webkit-scrollbar{
    display: none;
}
.project-card{
   min-width:480px;
  background-color: #F5F5F5;
   border:1px solid gold;
}
.next-right{
    position: absolute;
    z-index: 0;
    top: 250vh;
    left: 86.5%;
    /* border: 1px solid; */
    width: 40px;
    height: 40px;
     transform: rotate(180deg);
     
}
.next-right img{
    width: 100%;
}
.next-left{
    /* position: absolute; */
    /* position:sticky; */
    /* z-index: 0;
    bottom: 200px;
    left:11%; */
    /* border: 1px solid; */
    width: 40px

}
.next-left img{
    width: 100%;
}
.project-imgdiv{
    /* border: 1px solid; */
    /* height:225px ; */
}
.project-imgdiv img{
    width: 100%;
    /* border:1px solid green */
}
.project-description{
    color: black;
    /* border: 1px solid; */
    padding-left: 10px;
    font-weight:500;
    color: rgb(59, 56, 56);
    margin-top: 10px;
}
.project-description>span{
    padding-left: 10px;
}
.project-tech-stack{
    color: black;
    /* border: 1px solid; */
    padding-left: 10px;
    font-weight: bold;
    margin-top: 10px;
}
.project-title{
    /* border: 1px solid; */
    padding-left: 10px;
    font-size: 20px;
    color: rgb(109, 5, 5);
}
.project-title>span{
    font-size: 15px;
    color: black;
}
.project-github-link>img{
    width: 35px;
    margin-top: 5px;
    margin-left: 10px;
}
.project-github-link>img:hover{
    transform: scale(1.2)
}
.project-deployed-link>img{
    width: 32px;
    /* border: 1px solid; */
    margin-left: 10px;
}
.project-deployed-link>img:hover{
    transform: scale(1.2);
}

/* git gub....................... */
#githubs{
    background-color: #3a2b27;
    padding-bottom: 20px;
}
#githubs h1{
    color: white;
    padding-top: 20px;
}
#stat{
    border: 1px solid;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 85%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    justify-content: space-around;
    background-color: #44281f;
    padding-bottom: 10px;
}
#stat img{
    width: 100%;
}
#stat div{
    /* border: 1px solid red; */
     margin: auto;
}

#github-stat{
    text-align: center;
}
#git-calendar{
    width: 70%;
    margin: auto;
    background-color:white;

    
}

#contact{
    background-color: #312f2f;
    padding-top: 50px;
    border: 1px solid #312f2f;
}
#contact-icon{
    /* border: 1px solid white; */
    display: flex;
    width: 100px;
    justify-content: space-between;
}
#contact-icon a{
    /* border: 1px solid green; */
    width: 40px;
    height: 40px;
   
}
#contact-icon a:nth-child(2) img{
    /* border: 1px solid yellow; */
    width: 80%;
    margin-top: 4px;

} 
#contact-icon img{
    width: 100%;
}
#contact-sub{
    display: flex;
    /* border: 1px solid yellow; */
    width: 70%;
    justify-content:space-between;
    margin: auto;
}
#form input,textarea{
   background-color: rgb(190, 192, 195);
   display:flex;
   border-radius: 5px;
   width: 100%;
}
#form-div{
    /* border: 1px solid yellow; */
    width: 35%;
    
}
#form input{
    width: 100%;
    height: 50px;
    margin-bottom: 10px;

}
#form :last-child{
  margin-top: 10px;
  width:160px;
  margin-left: 5px;
  background-color: rgb(229, 8, 8);
  font-size: large;
  font-weight: bold;
  border: 0px;
}

#contact h1,p,h3{
     color:black;
     text-align: left;
     color: #F5F5F5;
}
#contact h1{
    color: red;
}

#contact-info{
    /* border: 1px solid green; */
    padding-top: 50px;
    width: 50%;
}
#contact-phone{
    /* border: 1px solid; */
    display: flex;
}
#contact-phone img{
width:28px;
padding-left: 10px;
}
#fill-form{
    font-size: larger;
    margin-bottom: 20px;
    margin-top: 20px;
    /* border: 1px solid; */
    display: flex;
}
#fill-form img{
    width: 30%;
    height: 60px;
    /* border: 1px solid; */
    padding-bottom: 15px;
}
#fill-form p{
    color: rgb(248, 205, 16);
}
#contact-email{
    display: flex;
}
#contact-email img{
width:25px;
margin-left: 10px;
/* margin-top: 8px; */
}

.scroll-indicator{
    /* background-color: rgb(99, 130, 13); */
    width: 100px;
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-top: 20px;
}
.round1{
    width: 14px;
    height: 14px;
    background-color: #F5F5F5;
    border-radius: 25px;
}
.round1:hover{
    background-color: rgb(165, 235, 165);
    width: 17px;
    height: 17px;
}
.round{
    width: 14px;
    height: 14px;
    background-color: #F5F5F5;
    border-radius: 25px;
}
.round:hover{
    background-color: rgb(8, 236, 8);
    width: 17px;
    height: 17px;
}

.active{
    background-color: rgb(12, 227, 12);
    width: 17px;
    height: 17px; 
}
.mobilechild{
    width: 0px;
    border: 1px solid rgb(184, 20, 20);
    background-color:rgb(15, 15, 15);
    margin-top: 15px;
    height:60vh;
    transform: translate(-100%);
    transition: 0.7s;
    opacity: 0;
    /* /* display: none; */
    position: absolute;
    z-index: -2;
    /* top: 100px; */

  }
  .mobilechild>button{
   background-color: #ed3f05;
   margin-top:3px;
   border: 0px;
   border-radius: 10px;
   width: 100%;
   height: 40px;
  }
  .mobilechild>button a{
   color: #FAFAFA;
  }
  .mobilechild>div{
   border: 1px solid gold;
   /* border-radius: 10px; */
   margin-top: 3px;
   background-color: gray;
  }
  .mobilechild h4{
   color: #1a1717;
   font-size: large;
   margin-left: 10px;
   margin-bottom:10px;
   background-color: gray;
  }
  .mobilechild a{
   text-decoration: none;
  }


@media only screen and (max-width: 1280px) and (min-width: 650px) {
   
    #nav-ele{
    margin-right: 0%;
    width: 65%;
   }
   .nav-ele-title{
    margin-left: -100px;
   }
   #about-sub{
    width: 100%;
    /* min-height: 450px; */
   }
   .skill{
    width: 100%;
    /* border: 1px solid yellow; */
   }
   #projects{
    width: 90%;
   }
   .next-left{
    top:1700px;
    left: 1%;
   }
   .next-right{
    top:1700px;
    left:95.5%;
   }
   #stat{
    width: 95%;
   }
   #stat img{
    width: 98%;
   }
   #contact-info{
    padding-top: 30px;
   }
   #form-div{
    width: 45%;
   }
   #form input{
    height: 35px;
   }
   #form textarea{
    height: 150px;
   }
   #contact-email p{
    font-size: small;
   }
   #contact-email img{
    margin-left: 2px;
   }
   #profile-image{
    
   }
   #mobile-nav{
    display: none;
   }
   
}


@media only screen and (max-width: 650px) {
   .nav-menu{
    display: none;
   }
   #mobile-nav{
    width: 100%;
    /* border: 1px solid yellow; */
    display: flex;
    position: fixed;
    background-color: black;
    color: #F5F5F5;
    z-index: 3;
   }
   #options{
    /* border: 1px solid; */
    width: 40px;
    height: 30px;
    margin-top: 10px;
    margin-right: 30px;
   }
   .hamburger{
    border: 1px solid;
    width: 100%;
    height: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: rgb(237, 230, 230);
    border-radius: 5px;
   }
   .onclick-mobilechild{
    display: block;
    width: 200px;
    transition: 0.4s;
    transition-timing-function: linear;
    transform: translate(0px);
    opacity: 1;
    
   }
   .skill-div{
    width: 100%;
    grid-template-columns: repeat(3,1fr);
   }
   #about-sub{
    width: 100%;
   }
   .skill{
    width: 95%;
    gap: 20px;   
   }
   #user-detail-intro1{
    /* display: none; */
    /* border: 1px solid green; */
    width: 100%;
    margin-bottom: 20px;
   }
   #user-detail-intro{
    display: none;
   }
   
   /* #intro{
    border: 1px solid;
   } */
   #user-details-for-smallscreen{
    display: block;
    /* border: 1px solid; */
    margin-top: 10px;
    width: 100%;
    /* display: none; */
    position: relative;
    right: 150px;
    width: 330px;
    font-weight: 400;
    top: 50px;
    
   }
   #profile-image{
    width: 150px;
    height: 150px;
   }
   #profile-image img{
    margin-top: 0px;
   }
   #contact-sub{
    display: block;
    margin: auto;
   }
   #form-div{
    /* border: 1px solid yellow; */
    margin: auto;
    width: 80%;   
   }
   #form input,textarea{
    background-color: rgb(190, 192, 195);
    display:flex;
    border-radius: 5px;
    width: 100%;
   }
   #user-detail-name{
    /* border: 1px solid red; */
    font-size: 37px;
    /* padding-right:50px ; */
    position: relative;
    right: 25px;
   }
   #resume-button-2{
    position: relative;
    right: 25px;
    width: 100px;
    height: 40px;
    border-radius: 10px;
   }
   #fill-form{
    display: none;
   }
   #iam-sourabh{
    font-size:25px;
   }
   .myskill h1{
    padding-top: 50px;
   }
   #intro h4{
    position: relative;
    right: 20px;
   }
   /* #iam-sourabh span{
    display: block;
    /* font-size: 35px; */
    /* border: 1px solid; */ 
   #iam-sourabh{
    margin-top: 0px
   }
   #projects{
    width: 90%;
    }
    .project-card{
        min-width:350px;
       background-color: #F5F5F5;
        border:1px solid gold;
     }
     #user-detail-intro1{
        position: relative;
        /* border: 1px solid green; */
        right: 20px;
    }
    #contact-info{
        /* border: 1px solid green; */
        padding-top: 50px;
        width: 80%;
        margin: auto;
        margin-bottom: 10px;

    }
    #contact-info h3,p{
        padding: 5px;
    }
    #contact-email>img{
        display: none;
    }
  


}





@media only screen and (max-width:360px) {
    
    #about-sub{
        flex-direction: column;
         align-items: center;

    }
    #user-details-for-smallscreen{
        position:initial;
        width: 100%;
        margin: auto;
       }
       #about-words{
        width: 90%;
        text-align: center;
        margin-top: 50px;
       }
       .skill-div{
        width: 90%;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;   
        /* border: 1px solid gold; */
        height: 450px;
        overflow-y: scroll;
    }
    
    /* #mobilenav-title{
        border: 1px solid red;
    } */
    #mobile-nav{
        /* width: 100%; */
        /* border: 1px solid yellow; */
        display: flex;
        position: fixed;
        background-color: black;
        color: #F5F5F5;
        z-index: 3;
       }
       #user-detail-name{
        font-size: 30px;  
        color:#FAFAFA
          
      }
      #form-div{
        /* border: 1px solid yellow; */
        width: 100%;
        
    }
    #form #submit{
      width:130px ;
      height:20px;
      font-size: 15px;
      margin-bottom: 20px;

    } #contact-info{
        width: 100%;
      
    }

   

}
   

